<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.dialupdelta">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <!-- To set exact alarms -->
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM" />

    <!-- Alternative permission (use this if SCHEDULE_EXACT_ALARM is not available) -->
    <uses-permission android:name="android.permission.USE_EXACT_ALARM" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />



    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:usesCleartextTraffic="true"
        android:supportsRtl="true"
        android:theme="@style/Theme.DialUpDelta"
        tools:targetApi="31">
        <activity
            android:name=".ui.feedback.FeedBackDetailsActivity"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".ui.journal.JournalListActivity"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".ui.journal.AddJournalActivity"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".ui.journal.JournalOptionsActivity"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".ui.journal.JournalActivity"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".ui.journal.SurveyActivity"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".ui.library.LibraryPlayVideoActivity"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".ui.library.LibraryInfoActivity"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".ui.library.LibraryModulesActivity"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".ui.get_to_sleep.AnimationOnLeftActivity"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".ui.transition.TransitionActivity"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".ui.discount.PermissionActivity"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".ui.discount.CouponAppliedActivity"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".ui.discount.DiscountCodeActivity"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".ui.anim_login.AnimLoginActivity"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".ui.get_start_activity.LowVsHighActivity"
            android:screenOrientation="portrait"
            android:exported="true" />
        <activity
            android:name=".ui.get_start_activity.GetStartActivity"
            android:screenOrientation="portrait"
            android:exported="true" />
        <activity
            android:name=".ui.intro_new_video.IntroductionVideoActivity"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".ui.intro_screen.IntroductionFirstVideoActivity"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".ui.login_signup.SignUpActivity"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".ui.login_signup.LoginActivity"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".ui.splash.SplashActivity"
            android:screenOrientation="portrait"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.main_activity.MainActivity"
            android:screenOrientation="portrait"
            android:exported="true" />
        <receiver
            android:name=".ui.sleep_enhancer.AlarmReceiver"
            android:enabled="true"
            android:exported="true" />
        <service android:name=".ui.sleep_enhancer.AlarmService"
            android:enabled="true"
            android:exported="false" />
    </application>

</manifest>