<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.dialupdelta">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.DialUpDelta"
        tools:targetApi="31">
        <activity
            android:name=".SurveyActivity"
            android:exported="false" />
        <activity
            android:name=".LibraryPlayVideoActivity"
            android:exported="false" />
        <activity
            android:name=".ui.library.LibraryInfoActivity"
            android:exported="false" />
        <activity
            android:name=".ui.library.LibraryModulesActivity"
            android:exported="false" />
        <activity
            android:name=".ui.get_to_sleep.AnimationOnLeftActivity"
            android:exported="false" />
        <activity
            android:name=".ui.transition.TransitionActivity"
            android:exported="false" />
        <activity
            android:name=".ui.discount.PermissionActivity"
            android:exported="false" />
        <activity
            android:name=".ui.discount.CouponAppliedActivity"
            android:exported="false" />
        <activity
            android:name=".ui.discount.DiscountCodeActivity"
            android:exported="false" />
        <activity
            android:name=".ui.anim_login.AnimLoginActivity"
            android:exported="false" />
        <activity
            android:name=".ui.get_start_activity.LowVsHighActivity"
            android:exported="true" />
        <activity
            android:name=".ui.get_start_activity.GetStartActivity"
            android:exported="true" />
        <activity
            android:name=".ui.intro_new_video.IntroductionVideoActivity"
            android:exported="false" />
        <activity
            android:name=".ui.intro_screen.IntroductionFirstVideoActivity"
            android:exported="false" />
        <activity
            android:name=".ui.login_signup.SignUpActivity"
            android:exported="false" />
        <activity
            android:name=".ui.login_signup.LoginActivity"
            android:exported="false" />
        <activity
            android:name=".ui.splash.SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.main_activity.MainActivity"
            android:exported="true" />
    </application>

</manifest>